<div class="container-fluid fixed-bottom" id="footer-section">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-12" id="stats">
             <div class="row" id="stats-row">

                <div class="stats-window col-lg-6 col-xs-12" id="footer-window-left">
                    <h5>What is ChainiumScan?</h5>
                    <p>ChainiumScan is a blockchain explorer created for custom blockchain, developed by <a href="https://weown.com/">Own</a>. 
                       <br>Find out more about Own <a href="https://weown.com/our-products-services">products and services</a>. <br>
                      </p>
                      <h5>Who are we?</h5>
                      <p>We are a group of students from the Faculty of electrical engineering in Tuzla (FET) who developed ChainiumScan, supported 
                          by Own company and their team of expert developers.
                      </p>
                </div>

                 <div class="stats-window col-lg-6 col-md-12" id="footer-window-right">

                    <div class="row row-height align-items-center d-flex justify-content-center">
                        <div class="col-2 link-button">
                            <button type="button" class="btn"><a href="https://weown.com/" 
                                class="telegram-plane"><i class="fa fa-map-marker fa-2x"></i></a></button>
                        </div>
                        <div class="col-2 link-button">
                            <button type="button" class="btn"><a href="https://t.me/OwnMarket" 
                                class="telegram-plane"><i class="fa fa-telegram fa-2x"></i></a></button>
                        </div>
                        <div class="col-2 link-button">
                                <button type="button" class="btn"><a href="https://www.linkedin.com/company/ownmarket/" 
                                    class="telegram-plane"><i class="fa fa-linkedin fa-2x"></i></a></button>
                        </div>
                        <div class="col-2 link-button-last">
                                <button type="button" class="btn"><a href="https://medium.com/ownmarket" 
                                class="telegram-plane"><i class="fa fa-medium fa-2x"></i></a></button>
                        </div>
                    </div>

                    <div class="row row-height align-items-center d-flex justify-content-center" id="bottom-row">
                        <div class="col-2 link-button">
                                <button type="button" class="btn"><a href="https://github.com/OwnMarket" 
                                class="telegram-plane"><i class="fa fa-github fa-2x"></i></a></button>
                        </div>
                        <div class="col-2 link-button">
                            <button type="button" class="btn"><a href="https://twitter.com/OwnMarket" 
                                class="twitter"><i class="fa fa-twitter fa-2x"></i></a></button>
                        </div>
                        <div class="col-2 link-button">
                            <button type="button" class="btn"><a href="https://www.youtube.com/c/OwnMarket" 
                                class="telegram-plane"><i class="fa fa-youtube fa-2x"></i></a></button>
                        </div>
                        <div class="col-2 link-button-last">
                            <button type="button" class="btn"><a href="https://www.facebook.com/OwnMarket" 
                                class="telegram-plane"><i class="fa fa-facebook fa-2x"></i></a></button>
                        </div>
                    </div>

                 </div>

             </div>

         </div>
     </div>  

</div>

