<div class="container-fluid row" id="mainArea">

    <div class="col-12" id="firstTable">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th class="col-6 table-headerLv2" id="basicInfoH">
                        <h5><b>Basic Info</b></h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-3 cells cellsTop"><b>Block number</b></td>
                    <td class="col-3 cells cellsLeft"><b>Block hash</b></td>
                    <td class="col-3 cells cellsRight" id="prevBlockNumberH"><b>Previous block number</b></td>
                    <td class="col-3 cells" id="prevBlockHashH"><b>Previous block hash</b></td>
                </tr>
                <tr>
                    <td class="col-3 cells">{{block_.blockNumber}} </td>
                    <td class="col-3 cells cellsLeft" style="padding-right: 2px">{{block_.hash | slice:0:20}}...</td>
                    <td class="col-3 cells cellsRight"><a routerLink="/blocks/{{blockNumber}}">{{blockNumber_-1}}</a></td>
                    <td class="col-3 cells">{{prevBlock.hash | slice:0:15}}...</td>
                </tr>
                <tr>
                    <td class="col-3 cells" id="blockTimeCellH">Date created</td>
                    <td class="col-3 cells cellsLeft" id="blockTimeCell">{{block_.timestamp | date:'medium':'+0400'}}</td>
                    <td class="col-3 cellsHidden cellsRight" id="cellsRightBottomLeft">Something</td>
                    <td class="col-3 cellsHidden" id="cellsRightBottomRight">Something</td>
                </tr>
                <tr>
                    <td class="col-12 d-flex justify-content-center" id="additionalInfo"><b>Additional Info</b></td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder">TX set root</td>
                    <td class="col-9 cellBorder">: {{block_.txSetRoot}}</td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder">TX result root</td>
                    <td class="col-9 cellBorder">: {{block_.txResultSetRoot}}</td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder">EQ proofs root</td>
                    <td class="col-9 cellBorder">: {{block_.equivocationProofsRoot}}</td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder">EQ proof result root</td>
                    <td class="col-9 cellBorder">: {{block_.equivocationProofResultsRoot}}</td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder">State root</td>
                    <td class="col-9 cellBorder">: {{block_.stateRoot}}</td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder">Staking rewards root</td>
                    <td class="col-9 cellBorder">: {{block_.stakingRewardsRoot}}</td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder">Configuration root</td>
                    <td class="col-9 cellBorder">: {{block_.configurationRoot}}</td>
                </tr>
                <tr>
                    <td class="col-3 cellBorder" id="consensusCellLeft">Consensus round</td>
                    <td class="col-9 cellBorder" id="consensusCellRight">: {{block_.consensusRound}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-12">
        <table class="table table-fixed">
            <tbody>
                <tr>
                    <td class="col-12 d-flex justify-content-center" id="additionalInfo"><b>Transactions</b></td>
                </tr>
                <tr>
                    <td class="col-5 cellBorder" id="txHashCell">Transaction hash </td>
                    <td class="col-5 cellBorder">Sender address</td>
                    <td class="col-2 cellBorder" id="actionCell">Action</td>
                </tr>
                <tr>
                    <!-- <td class="col-5 cellBorder">{{tr.hash}} </td>
                    <td class="col-5 cellBorder"><a routerLink="/addresses/{{tr.senderAddress}}">{{tr.senderAddress}}</a></td>
                    <td class="col-2 cellBorder">{{tr.numberOfActions}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>

<!-- <div class="container">
    <p>Transaction hash: {{tr.hash}}</p>
    <p>Block number:{{tr.blockNumber}}</p>
    <a>Sender address: <a routerLink="/addresses/{{tr.senderAddress}}">{{tr.senderAddress}}</a></p>
    <p>timestamp: {{tr.timestamp}}</p>
    <p>Number of actions: {{tr.numberOfActions}}</p>
    <hr>
</div> -->
