<div class="container-fluid row" id="header-holder">

    <div class="col-lg-6 col-md-12 d-flex flex-row justify-content-center" id="imageBar-holder">
        <a routerLink='' class="navbar-brand"><img src="../../assets/images/OWN_RGB_logo_white_tnsp.png" alt=""></a>
        <div class="container-fluid" id="searchBar-holder">
            <app-search></app-search>
        </div>
    </div>

    <div class="col-lg-6 col-12 d-flex flex-row justify-content-around  justify-content-sm-center justify-content-sm-around justify-content-lg-end row" id="link-holder">
        <div class="p-1 individual-link-holder">
            <a routerLink='' class="nav-link">Home</a>
        </div>
        <div class="p-1 individual-link-holder">
            <a routerLink='blocks' class="nav-link">Blocks</a>
        </div>
        <div class="p-1 individual-link-holder">
            <a routerLink='transactions' class="nav-link">Transactions</a>
        </div>
        <div class="p-1 individual-link-holder">
            <a routerLink='validators' class="nav-link">Validators</a>
        </div>
    </div>

    <div class="col-lg-6 col-12 d-flex flex-row justify-content-around row" id="IconLink-holder">
            <div class="p-1 individual-link-holder IconLink">
                <a routerLink='' class="nav-link"><i class="fa fa-home fa-2x"></i></a>
            </div>
            <div class="p-1 individual-link-holder IconLink">
                <a routerLink='blocks' class="nav-link"><i class="fa fa-cubes fa-2x"></i></a>
            </div>
            <div class="p-1 individual-link-holder IconLink">
                <a routerLink='transactions' class="nav-link"><i class="fa fa-exchange fa-2x"></i></a>
            </div>
            <div class="p-1 individual-link-holder IconLink">
                <a routerLink='validators' class="nav-link"><i class="fa fa-users fa-2x"></i></a>
            </div>
        </div>
    
</div>



