  <div class="container d-flex justify-content-center" id="blockContainer">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-12 d-flex justify-content-center table-header"><h4><b>Transactions List</b></h4></th>
            </tr>
            <tr>
                <th class="col-4">Transaction hash</th>
                <th class="col-2">Block number</th>
                <th class="col-2">Timestamp</th>
                <th class="col-2">Sender address</th>
                <th class="col-2 d-flex justify-content-center">Actions</th>
            </tr>
          </thead>
          <tbody>
                <tr *ngFor="let tr of latestTransactions | paginate: { itemsPerPage: 12, currentPage: p}">
                        <td class="col-4 cellBorder">#<a routerLink="/transactions/{{tr.hash}}" title="{{tr.hash}}"> {{tr.hash | slice:0:20}}</a></td>
                        <td class="col-2 cellBorder"><i class="fa fa-cube"></i><a routerLink="/blocks/{{tr.blockNumber}}"> {{tr.blockNumber}}</a></td>
                        <td class="col-2 cellBorder">{{tr.timestamp | date:'dd.LLL, HH:mm:ss'}}</td>
                        <td class="col-2 cellBorder">{{tr.senderAddress}}..</td>
                        <td class="col-2 cellBorder d-flex justify-content-center">{{tr.numberOfActions}}</td>
            </tr>
          </tbody>
          <pagination-controls (pageChange)="p = $event" class="d-flex justify-content-center myPagination"></pagination-controls>
        </table>
      </div>