/* General */
*{
    padding: 0px;
    margin: 0px;
    /* color: var(--textColor); */
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

/* Latest Transactions */

#wrap {
    height: 83vh;
    max-height: 83vh;
    overflow-y: scroll;
    background-color: var(--bg-lighter);
    border-radius: 8px 8px 0px 0px;
}
    /* Table General */
    .table {
        height: 83vh;
        overflow-y: hidden;
    }
    
    /* Table Head */
    /* First row - Main Header */
        /* Table Header = th */
        .table thead th {
            border-top: none;
            border-bottom: none;
            overflow-x: scroll
        }
        #table-header {
            border-bottom: none;
            border-top: none;
            background-image: linear-gradient(#EC6608, #db8c2b);
            border-radius: 8px 8px 0px 0px;
            color: var(--textColorDark);
            max-width: 100%;
            width: 100%;
            padding-top: 16px;
            padding-bottom: 0px;
        }
        table thead tr th h4 {
            vertical-align: middle;
        }
            /* Table Header Text Color */
            h4 {
                color: var(--textColorDark);
                text-align: center!important;
            }

    /* Table Body */
            .table tbody {
                height: 83vh;
                max-height: 83vh;
                overflow-y: auto;;
            }
            .table tbody td {
                border-top: 0.5px solid rgb(57, 59, 63);
                overflow-x: scroll;
                padding-top: 16px;
                padding-bottom: 0px;
                color: var(--textColor);
            }
            .table-fixed tbody tr td a:hover {
                color: var(--accentContrastHover);
                text-decoration: none;
              }
            .table-fixed tbody tr td a {
            color: var(--textColor);
            text-decoration: none;
            }
            tbody tr td:nth-child(1) {
                
                max-width: 14vw;
                overflow-x: auto;
            }
            tbody tr td:nth-child(2) {
                
                max-width: 14vw;
                text-align: center;
                overflow-x: auto;
            }
            tbody tr td:nth-child(3) {
                text-align: center;
                max-width: 14vw;
                overflow-x: auto;
            }
            tbody tr td:nth-child(4) {
                text-align: center;
            }
            tbody tr td i {
                overflow-x: auto;

            }

            @media (max-width: 991px) {
                
                #wrap { 
                    height: 65vh;
                }
            }
            
            
        
                



