<div class="container-fluid" id="wrap">
    <table class="table table-fixed table-hover">
    
        <!-- Table Header -->
        <thead>
            <tr>
                <th class="sticky-top" colspan="4" id="table-header" >
                    <h4>
                        <b>Latest Transactions</b>
                    </h4>
                </th>
            </tr>
        </thead>
    
        <!-- Table Body -->
        <tbody>
            <tr *ngFor="let tr of latestTransactions | slice:0:50; let i=index;">
                <td data-toggle="tooltip" title="Transaction Hash">#<a routerLink="transactions/{{tr.hash}}" title="{{tr.hash}}">{{tr.hash}}</a></td>
                <td data-toggle="tooltip" title="Transaction's Block Number"><i class="fa fa-cube"></i> <a routerLink="blocks/{{tr.blockNumber}}"> {{tr.blockNumber}}</a></td>
                <td data-toggle="tooltip" title="Sender's address">{{tr.senderAddress}}</td>
                <td data-toggle="tooltip" title="Number of actions">{{tr.numberOfActions}}</td>
            </tr>
        </tbody>
        
    </table>
</div>
               
        
