*{
    padding: 0px;
    margin: 0px;
    color: var(--textColor);
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

h4 {
    color: var(--textColorDark);
}
#txContainer {
  width: 45vw;
 }

.table-header {
    background-image: linear-gradient(#EC6608, #db8c2b);
    border-radius: 8px 8px 0px 0px;
}

.table-fixed {
    width: 100%;
    background-color: var(--bg-lighter);
    border-radius: 16px 16px 16px 16px;
    overflow-x: hidden;
  }
  
.table-fixed tbody {
    height: 67vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    /* border-bottom: 16px solid white; */
  }
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
.table-fixed tbody td {
    float: left;
    overflow-x: scroll;
  }
.table-fixed thead tr th {
    float: left;
    background-color: var(--bg-lighter);
    border-color: var(--bg-lighter);
    overflow-x: hidden;
  }

.table-fixed thead tr th.table-header {
    border-color: #db8c2b;
    color: var(--textColorDark);
}

.table-fixed tbody tr td a {
    color: var(--accentContrast);
  text-decoration: none;
}
.table-fixed tbody tr td a:hover {
    color: var(--accentContrastHover);
}


.cellBorder{ 
    border-color: #4c5055;
}

b{
    color: var(--textColorDark);
}