/* You can add global styles to this file, and also import other style files */

body{
  background-color: #2C2E34;
  background-color: grey;
}

@font-face {
font-family: averta;
src: url(assets/fonts/averta/regular.otf) format("opentype");
}
@font-face {
font-family: averta-bold;
src: url(assets/fonts/averta/semibold.otf) format("opentype");
}