
<div class="container-fluid" id="wrap">

<table class="table table-fixed table-hover">

    <!-- Table Header -->
    <thead>
        <tr id="theHeader">
            <th class="sticky-top" colspan="3" id="table-header" >
                <h4>
                    <b>Latest Blocks</b>
                </h4>
            </th>
        </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
        <tr *ngFor="let block of latestBlocks | slice:0:100;">
            <td data-toggle="tooltip" title="Block Number"><i class="fa fa-cube"></i><a routerLink="blocks/{{block.blockNumber}}"> {{block.blockNumber}}</a></td>
            <td data-toggle="tooltip" title="Block Hash">#{{ block.hash }}</td>
            <td data-toggle="tooltip" title="Timestamp" width="20%">{{block.timestamp | date : 'H:mm:ss' : '+0400'}}</td>
        </tr>
    </tbody>
    
</table>
</div>
       
