<!-- Main Area -->
<div class="container-fluid" id="mainBg">
<!-- Graph Window = First row-->
<!-- <div class="row">
        <div class="col-12 chart-container" id="graphBg">
            <canvas id="canvas"> {{ chart }} </canvas>
        </div>
    </div> -->
    
<!-- Latest Blocks&Transactions = Second row -->
    <div class="row d-flex justify-content-start" id="second-row">
    
<!-- Latest Blocks -->
        <div class="container col-12 col-lg-5 row wrapBg" id="latest-blocks-wrapBg">
            <app-blocks></app-blocks>
        </div>

<!-- Latest Transactions -->
        <div class="container col-12 col-lg-7 row wrapBg" id="latest-transactions-wrapBg">
            <app-transactions></app-transactions>
        </div>

    </div>
   
</div>
