<div class="container d-flex justify-content-center" id="blockContainer">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-12 d-flex justify-content-center table-header"><h4>Block List</h4></th>
        </tr>
        <tr>
          <th class="col-4">Block Number</th>
          <th class="col-6">Block Hash</th>
          <th class="col-2 d-flex justify-content-center">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let block of latestBlocks | paginate: { itemsPerPage: 12, currentPage: p}">
          <td class="col-4"><i class="fa fa-cube"></i><a routerLink="block/{{block.blockNumber}}"> {{block.blockNumber}}</a></td>
          <td class="col-6">#{{block.hash | slice:0:15}}</td>
          <td class="col-2 d-flex justify-content-center">{{block.timestamp | date : 'H:mm:ss' : '+0400'}}</td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event" class="d-flex justify-content-center myPagination"></pagination-controls>
    </table>
  </div>