*{
    padding: 0px;
    margin: 0px;
    color: var(--textColor);
  }
  
  /* Main Area */
  #mainBg {
    height: 100vh;
    width: 80vw;
    margin: 0px auto;
  }
  
  #second-row { 
  padding-top: 4rem;
  }
  
  .wrapBg {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
  
  }
  
  #canvas {
    width: 100%;
  }
  
  #graphBg {
    position: fixed;
    height: 25vh;
    width: 50vw;
  }
  
  #blockContainer {
  width: 70vw;
  margin: 3rem auto;
  height: 83vh;
  }
  .table-header {
    background-image: linear-gradient(#EC6608, #db8c2b);
    border-radius: 8px 8px 0px 0px;
  }
  
  .table-fixed {
    width: 100%;
    background-color: var(--bg-lighter);
    border-radius: 16px 16px 16px 16px;
  }
  
  .table-fixed tbody {
    height: 67vh;
    overflow-y: hidden;
    width: 100%;
  }
  
  .table-fixed thead {
    overflow-x: auto;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td {
    float: left;
    overflow-x: hidden;
  }
  .table-fixed thead tr th {
    float: left;
    background-color: var(--bg-lighter);
    border-color: var(--bg-lighter);
  }
  
  .table-fixed thead tr th.table-header {
    border-color: #db8c2b;
    color: var(--textColorDark);
  }
  
  .table-fixed tbody tr td a {
    color: var(--accentContrast);
text-decoration: none;
  }
  .table-fixed tbody tr td a:hover {
    color: var(--accentContrastHover);
  }
  .ngx-pagination {
    padding: 0px!important;
  }
  
  .myPagination /deep/ .ngx-pagination {
    padding: 0;
    margin-bottom: 0.5rem;
    color: var(--textColor);
  }
  
  .myPagination /deep/ .ngx-pagination .current{
    color: var(--accentContrast);
    background: var(--bg-lighter);
  }
  .myPagination /deep/ .ngx-pagination a{
      color: var(--textColor);
  }
  .myPagination /deep/ .ngx-pagination a:hover{
      color: var(--textColor);
      background: var(--accentContrastHover);
      text-decoration: none
  }

  b{
    color: var(--textColorDark);
}

.cellBorder{ 
    border-color: #4c5055;
}